$topbargreen:#00796b;
$icon:rgba(255, 255, 255, 0.7);
$impact:#008374;
$dot:#f96f59;
$font-default: "Open Sans";
$font-primary:"Montserrat", sans-serif;
$font-secondary: "Poppins", sans-serif;
$buttnclr:#008d7d;
$locclr:#33a89b;
$circle:#26a193;